@import 'tray-window/index';
@import 'preferences-window/index';

.tray-window {
  &.window {
    .toolbar {
      box-shadow: none;
    }

    .window-content {
      background-color: @background-color;
      border-right: @border;
      border-left: @border;
    }
  }
}
